In [173]:
#Libraries 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

                                            LOAD 12 DATA FOR FRAUD

In [174]:
# List of file names for fraud and non-fraud datasets
FRAUD = "/home/ashley/Desktop/IBM CLEANED/FRAUD/"
NON_FRAUD = "/home/ashley/Desktop/IBM CLEANED/NON_FRAUD/"

In [175]:
#load fraud dataset
Fraud_dataset = [pd.read_csv(FRAUD + f) for f in ["cleaned_HI_large_patterns.csv","cleaned_HI_medium_patterns.csv","cleaned_HI_small_patterns.csv","cleaned_LI_large_patterns.csv","cleaned_LI_medium_patterns.csv","cleaned_LI_small_patterns.csv"]]

In [176]:
Fraud_dataset

[               Timestamp  From Bank    Account  To Bank    Account.1  \
 0       2022/08/09 05:14        952  8139F54E0   111632    8062C56E0
 1       2022/08/13 13:09     111632  8062C56E0     8456    81363F620
 2       2022/08/15 07:40     118693  823D5EB90    13729    801CF2E60
 3       2022/08/15 14:19      13729  801CF2E60   123621    81A7090F0
 4       2022/08/13 12:40      24750  81363F410   213834    808757B00
 ...                  ...        ...        ...      ...          ...
 137930  2022/11/08 09:12       1538    8008279    12883    801345490
 137931  2022/11/20 18:34       1538    8008279     1226    8001672F0
 137932  2022/11/25 11:27       1538    8008279     1213    8006E6420
 137933  2022/11/28 09:15       1538    8008279     1827  8.0117E+144
 137934  2022/12/10 15:28       1538    8008279        0    801641AE0

         Amount Received Receiving Currency  Amount Paid Payment Currency  \
 0               5331.44          US Dollar      5331.44        US Dollar
 1               5602.59          US Dollar      5602.59        US Dollar
 2               1400.54          US Dollar      1400.54        US Dollar
 3               1467.94          US Dollar      1467.94        US Dollar
 4              16898.29          US Dollar     16898.29        US Dollar
 ...                 ...                ...          ...              ...
 137930          5698.52               Euro      5698.52             Euro
 137931          6043.82               Euro      6043.82             Euro
 137932          9483.76               Euro      9483.76             Euro
 137933         11919.51               Euro     11919.51             Euro
 137934         15457.82          US Dollar     15457.82        US Dollar

        Payment Format  Is Laundering
 0                 ACH              1
 1                 ACH              1
 2                 ACH              1
 3                 ACH              1
 4                 ACH              1
 ...               ...            ...
 137930            ACH              1
 137931            ACH              1
 137932            ACH              1
 137933            ACH              1
 137934            ACH              1

 [137935 rows x 11 columns],
               Timestamp  From Bank    Account  To Bank  Account.1  \
 0      2022/09/01 05:14        952  8139F54E0   111632  8062C56E0
 1      2022/09/03 13:09     111632  8062C56E0     8456  81363F620
 2      2022/09/01 07:40     118693  823D5EB90    13729  801CF2E60
 3      2022/09/01 14:19      13729  801CF2E60   123621  81A7090F0
 4      2022/09/02 12:40      24750  81363F410   213834  808757B00
 ...                 ...        ...        ...      ...        ...
 22738  2022/09/16 23:44       1818  80D7BB990    24842  8028966B0
 22739  2022/09/17 03:20      24842  8028966B0   172269  82A986A10
 22740  2022/09/19 17:12     172269  82A986A10    25644  81DB33B40
 22741  2022/09/20 16:18      25644  81DB33B40   295233  8230CE9C0
 22742  2022/09/21 17:07     295233  8230CE9C0     1818  80D7BB990

        Amount Received Receiving Currency  Amount Paid Payment Currency  \
 0              5331.44          US Dollar      5331.44        US Dollar
 1              5602.59          US Dollar      5602.59        US Dollar
 2              1400.54          US Dollar      1400.54        US Dollar
 3              1467.94          US Dollar      1467.94        US Dollar
 4             16898.29          US Dollar     16898.29        US Dollar
 ...                ...                ...          ...              ...
 22738          4570.11          US Dollar      4570.11        US Dollar
 22739          4410.67          US Dollar      4410.67        US Dollar
 22740          4410.67          US Dollar      4410.67        US Dollar
 22741          3414.74           UK Pound      3414.74         UK Pound
 22742          4365.08          US Dollar      4365.08        US Dollar

       Payment Format  Is Laundering
 0                ACH              1
 1                ACH              1
 2                ACH              1
 3                ACH              1
 4                ACH              1
 ...              ...            ...
 22738            ACH              1
 22739            ACH              1
 22740            ACH              1
 22741            ACH              1
 22742            ACH              1

 [22743 rows x 11 columns],
              Timestamp  From Bank    Account  To Bank  Account.1  \
 0     2022/09/01 00:06      21174  800737690       12  80011F990
 1     2022/09/01 04:33      21174  800737690       20  80020C5B0
 2     2022/09/01 09:14      21174  800737690       20  80006A5E0
 3     2022/09/01 09:56      21174  800737690      220  8007A5B70
 4     2022/09/01 11:28      21174  800737690     1244  80093C0D0
 ...                ...        ...        ...      ...        ...
 3204  2022/09/14 14:10      28827  806DEA990    41407  80F454910
 3205  2022/09/14 15:49      16643  80762FE70    41407  80F454910
 3206  2022/09/14 19:51      13917  80E16D0B0    41407  80F454910
 3207  2022/09/10 22:42      49365  812A09D40      119  812A09CF0
 3208  2022/09/12 03:34        222  812D127D0    50202  812D129C0

       Amount Received Receiving Currency  Amount Paid Payment Currency  \
 0             2848.96               Euro      2848.96             Euro
 1             8630.40               Euro      8630.40             Euro
 2            35642.49               Yuan     35642.49             Yuan
 3          5738987.96          US Dollar   5738987.96        US Dollar
 4             7254.53          US Dollar      7254.53        US Dollar
 ...               ...                ...          ...              ...
 3204         14141.57        Swiss Franc     14141.57      Swiss Franc
 3205          2860.78        Swiss Franc      2860.78      Swiss Franc
 3206          7413.71        Swiss Franc      7413.71      Swiss Franc
 3207         41927.21        Saudi Riyal     41927.21      Saudi Riyal
 3208         20085.71        Saudi Riyal     20085.71      Saudi Riyal

      Payment Format  Is Laundering
 0               ACH              1
 1               ACH              1
 2               ACH              1
 3               ACH              1
 4               ACH              1
 ...             ...            ...
 3204            ACH              1
 3205            ACH              1
 3206            ACH              1
 3207            ACH              1
 3208            ACH              1

 [3209 rows x 11 columns],
               Timestamp  From Bank      Account  To Bank    Account.1  \
 0      2022/08/01 01:34      23447    80748FC70     8847    8055DF7D0
 1      2022/08/26 18:37       8847    8055DF7D0    14745    80DAC5480
 2      2022/08/07 09:02      23447    80748FC70     3335    8014304A0
 3      2022/08/29 06:09       3335    8014304A0    14745    80DAC5480
 4      2022/08/11 09:18      23447    80748FC70    23872    802BBDCC0
 ...                 ...        ...          ...      ...          ...
 19456  2022/11/09 16:15       1226    8001A8B80    14943    8095F3F30
 19457  2022/11/06 07:13       1226    805DFB0B0       11    80022FB00
 19458  2022/11/17 14:56       5889    8068A2ED0     1891    80343A5D0
 19459  2022/11/05 21:47     133500    83223E1D0  2124910  8.3223E+184
 19460  2022/11/10 15:51    2124910  8.3223E+184   133500    83223E1D0

        Amount Received Receiving Currency  Amount Paid   Payment Currency  \
 0              7320.00               Yuan      7320.00               Yuan
 1              1092.93          US Dollar      1092.93          US Dollar
 2             10954.37               Euro     10954.37               Euro
 3             10378.47          US Dollar     10378.47          US Dollar
 4             14073.93               Euro     14073.93               Euro
 ...                ...                ...          ...                ...
 19456         11266.87               Euro     11266.87               Euro
 19457          5122.14          US Dollar      5122.14          US Dollar
 19458          7378.03          US Dollar      7378.03          US Dollar
 19459         10313.63  Australian Dollar     10313.63  Australian Dollar
 19460         10557.12  Australian Dollar     10557.12  Australian Dollar

       Payment Format  Is Laundering
 0                ACH              1
 1                ACH              1
 2                ACH              1
 3                ACH              1
 4                ACH              1
 ...              ...            ...
 19456            ACH              1
 19457            ACH              1
 19458            ACH              1
 19459            ACH              1
 19460            ACH              1

 [19461 rows x 11 columns],
              Timestamp  From Bank    Account  To Bank  Account.1  \
 0     2022/09/01 00:29     110994  80A0ECCF0   110320  804F34520
 1     2022/09/04 12:49     110320  804F34520    29772  8046BB130
 2     2022/09/01 12:28     110994  80A0ECCF0    14745  808326150
 3     2022/09/04 13:39      14745  808326150    29772  8046BB130
 4     2022/09/01 14:26     110994  80A0ECCF0    44986  81112A390
 ...                ...        ...        ...      ...        ...
 3904  2022/09/18 10:49          3  80F675DC0   231646  8124F9110
 3905  2022/09/21 11:20     231646  8124F9110    28920  80B7B71A0
 3906  2022/09/19 12:56      28920  80B7B71A0   237063  828BD87C0
 3907  2022/09/22 09:09     237063  828BD87C0   192738  8232CA040
 3908  2022/09/18 16:41     192738  8232CA040    21954  801CA9620

       Amount Received Receiving Currency  Amount Paid Payment Currency  \
 0              311.90               Euro       311.90             Euro
 1              317.89          US Dollar       317.89        US Dollar
 2            12618.72          US Dollar     12618.72        US Dollar
 3            10555.54          US Dollar     10555.54        US Dollar
 4           433188.87                Yen    433188.87              Yen
 ...               ...                ...          ...              ...
 3904         18452.14          US Dollar     18452.14        US Dollar
 3905         20180.27          US Dollar     20180.27        US Dollar
 3906         19430.22          US Dollar     19430.22        US Dollar
 3907         14808.76           UK Pound     14808.76         UK Pound
 3908         18022.26               Euro     18022.26             Euro

      Payment Format  Is Laundering
 0               ACH              1
 1               ACH              1
 2               ACH              1
 3               ACH              1
 4               ACH              1
 ...             ...            ...
 3904            ACH              1
 3905            ACH              1
 3906            ACH              1
 3907            ACH              1
 3908            ACH              1

 [3909 rows x 11 columns],
              Timestamp  From Bank    Account  To Bank  Account.1  \
 0     2022/09/01 02:38       1812  80279F810      110  8000A94C0
 1     2022/09/02 14:36      22595  80279F8B0      110  8000A94C0
 2     2022/09/03 14:09       1120  800E36A50      110  8000A94C0
 3     2022/09/01 03:17       3671  801BF8E70     2557  8016B3750
 4     2022/09/01 06:27         15  80074C7E0     2557  8016B3750
 ...                ...        ...        ...      ...        ...
 1018  2022/09/14 09:36         27  80BF623F0    27009  80B880140
 1019  2022/09/14 10:06         27  80BF623F0    16934  805F5B360
 1020  2022/09/14 14:10         27  80BF623F0      531  8057B5070
 1021  2022/09/10 22:10      15516  8026EA390    25788  8026EA1A0
 1022  2022/09/10 15:58      25788  8026EA1A0    25788  8026EA1A0

       Amount Received Receiving Currency  Amount Paid   Payment Currency  \
 0            10154.74  Australian Dollar     10154.74  Australian Dollar
 1             5326.79  Australian Dollar      5326.79  Australian Dollar
 2             4634.81  Australian Dollar      4634.81  Australian Dollar
 3             8099.96               Euro      8099.96               Euro
 4            10468.56               Euro     10468.56               Euro
 ...               ...                ...          ...                ...
 1018         12499.20          US Dollar     12499.20          US Dollar
 1019          3902.74               Euro      3902.74               Euro
 1020         15565.88          US Dollar     15565.88          US Dollar
 1021          3431.61               Euro      3431.61               Euro
 1022          4418.15               Euro      4418.15               Euro

      Payment Format  Is Laundering
 0               ACH              1
 1               ACH              1
 2               ACH              1
 3               ACH              1
 4               ACH              1
 ...             ...            ...
 1018            ACH              1
 1019            ACH              1
 1020            ACH              1
 1021            ACH              1
 1022            ACH              1

 [1023 rows x 11 columns]]

In [177]:
fraud = pd.concat(Fraud_dataset,ignore_index=True)

In [178]:
fraud

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/08/09 05:14,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1
1,2022/08/13 13:09,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1
2,2022/08/15 07:40,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1
3,2022/08/15 14:19,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1
...,...,...,...,...,...,...,...,...,...,...,...
188275,2022/09/14 09:36,27,80BF623F0,27009,80B880140,12499.20,US Dollar,12499.20,US Dollar,ACH,1
188276,2022/09/14 10:06,27,80BF623F0,16934,805F5B360,3902.74,Euro,3902.74,Euro,ACH,1
188277,2022/09/14 14:10,27,80BF623F0,531,8057B5070,15565.88,US Dollar,15565.88,US Dollar,ACH,1
188278,2022/09/10 22:10,15516,8026EA390,25788,8026EA1A0,3431.61,Euro,3431.61,Euro,ACH,1
188279,2022/09/10 15:58,25788,8026EA1A0,25788,8026EA1A0,4418.15,Euro,4418.15,Euro,ACH,1

In [179]:
#Reading non fraud data 
non_fraud1 = pd.read_csv("/home/ashley/Desktop/IBM CLEANED/NON_FRAUD/HI-Large_Trans.csv",nrows=62760)
non_fraud2 = pd.read_csv("/home/ashley/Desktop/IBM CLEANED/NON_FRAUD/HI-Medium_Trans.csv",nrows=62760)
non_fraud3 = pd.read_csv("/home/ashley/Desktop/IBM CLEANED/NON_FRAUD/HI-Small_Trans.csv",nrows=62760)
non_fraud4 = pd.read_csv("/home/ashley/Desktop/IBM CLEANED/NON_FRAUD/LI-Large_Trans.csv",nrows=62760)
non_fraud5 = pd.read_csv("/home/ashley/Desktop/IBM CLEANED/NON_FRAUD/LI-Medium_Trans.csv",nrows=62760)
non_fraud6 = pd.read_csv("/home/ashley/Desktop/IBM CLEANED/NON_FRAUD/LI-Small_Trans.csv",nrows=62760)

In [180]:
#Concatinating the non fraud data
non_fraud = pd.concat([non_fraud1,non_fraud2,non_fraud3,non_fraud4,non_fraud5,non_fraud6])

In [181]:
non_fraud

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/08/01 00:17,20,800104D70,20,800104D70,6794.63,US Dollar,6794.63,US Dollar,Reinvestment,0
1,2022/08/01 00:02,3196,800107150,3196,800107150,7739.29,US Dollar,7739.29,US Dollar,Reinvestment,0
2,2022/08/01 00:17,1208,80010E430,1208,80010E430,1880.23,US Dollar,1880.23,US Dollar,Reinvestment,0
3,2022/08/01 00:03,1208,80010E650,20,80010E6F0,73966883.00,US Dollar,73966883.00,US Dollar,Cheque,0
4,2022/08/01 00:02,1208,80010E650,20,80010EA30,45868454.00,US Dollar,45868454.00,US Dollar,Cheque,0
...,...,...,...,...,...,...,...,...,...,...,...
62755,2022/09/01 00:06,1889,809D62730,1889,809D62730,13.86,US Dollar,13.86,US Dollar,Reinvestment,0
62756,2022/09/01 00:25,3100,809D7B8D0,113213,811B5B480,9.42,US Dollar,9.42,US Dollar,Credit Card,0
62757,2022/09/01 00:24,217226,809D8DC30,17256,80676D2F0,48.14,US Dollar,48.14,US Dollar,Credit Card,0
62758,2022/09/01 00:00,116342,809D8F7E0,116342,809D8F7E0,4.17,US Dollar,4.17,US Dollar,Reinvestment,0
62759,2022/09/01 00:13,119973,809D92870,119973,809D92870,10.38,US Dollar,10.38,US Dollar,Reinvestment,0

In [182]:
non_fraud.to_csv("non_fraud.csv",index=False)

                                                    MERGE FRAUD AND NON FRAUD DATASET

In [183]:
Comp_data_fraud = pd.concat([fraud,non_fraud])

In [184]:
Comp_data_fraud

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/08/09 05:14,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1
1,2022/08/13 13:09,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1
2,2022/08/15 07:40,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1
3,2022/08/15 14:19,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1
...,...,...,...,...,...,...,...,...,...,...,...
62755,2022/09/01 00:06,1889,809D62730,1889,809D62730,13.86,US Dollar,13.86,US Dollar,Reinvestment,0
62756,2022/09/01 00:25,3100,809D7B8D0,113213,811B5B480,9.42,US Dollar,9.42,US Dollar,Credit Card,0
62757,2022/09/01 00:24,217226,809D8DC30,17256,80676D2F0,48.14,US Dollar,48.14,US Dollar,Credit Card,0
62758,2022/09/01 00:00,116342,809D8F7E0,116342,809D8F7E0,4.17,US Dollar,4.17,US Dollar,Reinvestment,0
62759,2022/09/01 00:13,119973,809D92870,119973,809D92870,10.38,US Dollar,10.38,US Dollar,Reinvestment,0

In [185]:
Comp_data_fraud.to_csv("Comp_data_fraud.csv",index=False)

                                                                SHUFFLE

In [186]:
Comp_data_fraud_shuffled = Comp_data_fraud.sample(frac = 1, random_state = 42).reset_index(drop = True)

In [187]:
Comp_data_fraud_shuffled.to_csv("Comp_data_fraud_shuffled.csv",index=False)

In [188]:
Comp_data_fraud_shuffled

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/04 13:13,293924,822C3FBE0,297435,823DD2F90,4838.49,UK Pound,4838.49,UK Pound,ACH,1
1,2022/08/01 00:14,110851,8056674B0,110851,8056674B0,15.72,US Dollar,15.72,US Dollar,Reinvestment,0
2,2022/08/01 00:28,315180,805A80880,315180,805A80880,726.73,US Dollar,726.73,US Dollar,Reinvestment,0
3,2022/09/04 09:30,293924,822C3FBE0,297435,823DD2F90,9730.78,UK Pound,9730.78,UK Pound,ACH,1
4,2022/09/01 00:12,1922,8009D0670,2208,806673200,205059.32,US Dollar,205059.32,US Dollar,Cheque,0
...,...,...,...,...,...,...,...,...,...,...,...
564835,2022/10/18 04:27,10409,80BEFCE40,14595,809E51F90,1507.49,Euro,1507.49,Euro,ACH,1
564836,2022/09/01 00:18,1922,8014A66E0,1922,8014A66E0,24076.13,US Dollar,24076.13,US Dollar,Reinvestment,0
564837,2022/09/01 00:27,6156,807C974B0,6156,807C974B0,14.28,US Dollar,14.28,US Dollar,Reinvestment,0
564838,2022/12/04 16:44,0,8004AC580,25,800083280,126338.84,Yuan,126338.84,Yuan,ACH,1
564839,2022/11/24 19:42,22,8000F2F00,15,84221AE20,58108.13,Shekel,58108.13,Shekel,ACH,1

In [189]:
Comp_data_fraud_shuffled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564840 entries, 0 to 564839
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Timestamp           564840 non-null  object
 1   From Bank           564840 non-null  int64
 2   Account             564840 non-null  object
 3   To Bank             564840 non-null  int64
 4   Account.1           564840 non-null  object
 5   Amount Received     564840 non-null  float64
 6   Receiving Currency  564840 non-null  object
 7   Amount Paid         564840 non-null  float64
 8   Payment Currency    564840 non-null  object
 9   Payment Format      564840 non-null  object
 10  Is Laundering       564840 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 47.4+ MB

                                           CHANGING CATEGORICAL ATTRIBUTE INTO NUMERICAL ATTRIBUTE

In [191]:
#Identify all categorical variables
cat_columns = Comp_data_fraud_shuffled.select_dtypes(['object']).columns

In [192]:
#Convert all categorical variables to numeric
cat_columns = Comp_data_fraud_shuffled[cat_columns].apply(lambda x: pd.factorize(x)[0])

In [193]:
cat_columns

,Timestamp,Account,Account.1,Receiving Currency,Payment Currency,Payment Format
0,0,0,0,0,0,0
1,1,1,1,1,1,1
2,2,2,2,1,1,1
3,3,0,0,0,0,0
4,4,3,3,1,1,2
...,...,...,...,...,...,...
564835,101487,216286,277900,4,4,0
564836,64,158300,117701,1,1,1
564837,15,189898,190597,1,1,1
564838,101488,14642,140,6,6,0
564839,101489,16692,55418,3,3,0

In [208]:
#Calling the dataPayment Currency	Payment Format
Comp_data_fraud_shuffled.size

6213240

In [195]:
#Dropping the categorical columns
num_columns = Comp_data_fraud_shuffled.drop(['Timestamp','Account','Account.1','Receiving Currency','Payment Currency','Payment Format'], axis=1)

In [196]:
num_columns

        From Bank  To Bank  Amount Received  Amount Paid  Is Laundering
0          293924   297435          4838.49      4838.49              1
1          110851   110851            15.72        15.72              0
2          315180   315180           726.73       726.73              0
3          293924   297435          9730.78      9730.78              1
4            1922     2208        205059.32    205059.32              0
...           ...      ...              ...          ...            ...
564835      10409    14595          1507.49      1507.49              1
564836       1922     1922         24076.13     24076.13              0
564837       6156     6156            14.28        14.28              0
564838          0       25        126338.84    126338.84              1
564839         22       15         58108.13     58108.13              1

[564840 rows x 5 columns]

In [197]:
ML_dataFraud = pd.concat([cat_columns,num_columns.reset_index(drop=True)],axis=1)

In [198]:
ML_dataFraud

,Timestamp,Account,Account.1,Receiving Currency,Payment Currency,Payment Format,From Bank,To Bank,Amount Received,Amount Paid,Is Laundering
0,0,0,0,0,0,0,293924,297435,4838.49,4838.49,1
1,1,1,1,1,1,1,110851,110851,15.72,15.72,0
2,2,2,2,1,1,1,315180,315180,726.73,726.73,0
3,3,0,0,0,0,0,293924,297435,9730.78,9730.78,1
4,4,3,3,1,1,2,1922,2208,205059.32,205059.32,0
...,...,...,...,...,...,...,...,...,...,...,...
564835,101487,216286,277900,4,4,0,10409,14595,1507.49,1507.49,1
564836,64,158300,117701,1,1,1,1922,1922,24076.13,24076.13,0
564837,15,189898,190597,1,1,1,6156,6156,14.28,14.28,0
564838,101488,14642,140,6,6,0,0,25,126338.84,126338.84,1
564839,101489,16692,55418,3,3,0,22,15,58108.13,58108.13,1

In [199]:
#Exporting to external files and save as csv
ML_dataFraud.to_csv("ML_dataFraud.csv",index=False)

                                                SPLITTING DATA INTO TRAIN,VALIDATE AND TEST

In [200]:
#Labelling the data
X = ML_dataFraud.drop('Is Laundering', axis=1)  # Features
y = ML_dataFraud['Is Laundering']  # Labels (0 for legitimate, 1 for fraudulent)

In [201]:
#Splitting data set into training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=42)

In [202]:
#Splitting to training and validation
X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.15,random_state=42)

                                                            MODEL TRAINING

In [203]:
#Initialize the random forest model
rf_model = RandomForestClassifier(random_state = 42)
lg_model = LogisticRegression(random_state = 42)
nb_model = GaussianNB()
dt_model = DecisionTreeClassifier(random_state = 42)
knn_model = KNeighborsClassifier()

In [204]:
#Train model using training data set
rf_model.fit(X_train,y_train)
lg_model.fit(X_train,y_train)

/home/ashley/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [205]:
#Train model using training data set
nb_model.fit(X_train,y_train)
knn_model.fit(X_train,y_train)
dt_model.fit(X_train,y_train)

DecisionTreeClassifier(random_state=42)

                                                                MAKE PREDICTIONS ON VALIDATION SET

In [207]:
#Make predictions using validation set
rf_val_pred = rf_model.predict(X_val)
lg_val_pred = lg_model.predict(X_val)
nb_val_pred = nb_model.predict(X_val)
dt_val_pred = dt_model.predict(X_val)
knn_val_pred = knn_model.predict(X_val)

In [216]:
#Classification report on the validation set
print("Random Forest Report:\n",classification_report(y_val,rf_val_pred))
print("Logistic Regression Report:\n",classification_report(y_val,lg_val_pred))
print("Naive Bayes Report:\n",classification_report(y_val,nb_val_pred))

Random Forest Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     56459
           1       1.00      1.00      1.00     28267

    accuracy                           1.00     84726
   macro avg       1.00      1.00      1.00     84726
weighted avg       1.00      1.00      1.00     84726

Logistic Regression Report:
               precision    recall  f1-score   support

           0       0.99      0.99      0.99     56459
           1       0.98      0.98      0.98     28267

    accuracy                           0.99     84726
   macro avg       0.98      0.99      0.98     84726
weighted avg       0.99      0.99      0.99     84726

Naive Bayes Report:
               precision    recall  f1-score   support

           0       0.67      1.00      0.80     56459
           1       0.75      0.03      0.06     28267

    accuracy                           0.67     84726
   macro avg       0.71      0.51      0.43     84726
weighted avg       0.70      0.67      0.55     84726

In [217]:
print("Decision Tree Report:\n",classification_report(y_val,dt_val_pred))
print("KNN Report:\n",classification_report(y_val,knn_val_pred))

Decision Tree Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     56459
           1       1.00      1.00      1.00     28267

    accuracy                           1.00     84726
   macro avg       1.00      1.00      1.00     84726
weighted avg       1.00      1.00      1.00     84726

KNN Report:
               precision    recall  f1-score   support

           0       0.97      0.99      0.98     56459
           1       0.99      0.94      0.96     28267

    accuracy                           0.97     84726
   macro avg       0.98      0.97      0.97     84726
weighted avg       0.98      0.97      0.97     84726

                                                                   MAKE PREDICTIONS ON TEST SET

In [219]:
rf_test_pred = rf_model.predict(X_test)
lg_test_pred = lg_model.predict(X_test)
nb_test_pred = nb_model.predict(X_test)
dt_test_pred = dt_model.predict(X_test)
knn_test_pred = knn_model.predict(X_test)

In [221]:
#Model performance using classification report 
print("Random Forest Report:\n", classification_report(y_test,rf_test_pred))
print("Logistic Regression Report:\n", classification_report(y_test,lg_test_pred))
print("Naive BAyes Report:\n", classification_report(y_test,nb_test_pred))

Random Forest Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     56459
           1       1.00      1.00      1.00     28267

    accuracy                           1.00     84726
   macro avg       1.00      1.00      1.00     84726
weighted avg       1.00      1.00      1.00     84726

Logistic Regression Report:
               precision    recall  f1-score   support

           0       0.99      0.99      0.99     56459
           1       0.98      0.98      0.98     28267

    accuracy                           0.99     84726
   macro avg       0.98      0.99      0.98     84726
weighted avg       0.99      0.99      0.99     84726

Naive BAyes Report:
               precision    recall  f1-score   support

           0       0.67      1.00      0.80     56459
           1       0.75      0.03      0.06     28267

    accuracy                           0.67     84726
   macro avg       0.71      0.51      0.43     84726
weighted avg       0.70      0.67      0.55     84726

In [226]:
#Model performance using classification report 
print("Decision Tree Report:\n", classification_report(y_test,dt_test_pred))
print("KNN Report:\n", classification_report(y_test,knn_test_pred))

Decision Tree Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     56459
           1       1.00      1.00      1.00     28267

    accuracy                           1.00     84726
   macro avg       1.00      1.00      1.00     84726
weighted avg       1.00      1.00      1.00     84726

KNN Report:
               precision    recall  f1-score   support

           0       0.97      0.99      0.98     56459
           1       0.99      0.94      0.96     28267

    accuracy                           0.97     84726
   macro avg       0.98      0.97      0.97     84726
weighted avg       0.98      0.97      0.97     84726

                                                        MEASURING PERFOMANCE OF THE MODEL

In [225]:
#Calculate accuracy for each model
rf_accuracy = accuracy_score(y_test,rf_test_pred)
lg_accuracy = accuracy_score(y_test,lg_test_pred)
nb_accuracy = accuracy_score(y_test,nb_test_pred)
dt_accuracy = accuracy_score(y_test,dt_test_pred)
knn_accuracy = accuracy_score(y_test,knn_test_pred)

In [230]:
print("Random Forest Accuracy Score:",rf_accuracy)
print("Logistic Regression Accuracy Score:",lg_accuracy)
print("Naive Bayes Accuracy Score:",nb_accuracy)
print("Decision Tree Accuracy Score:",dt_accuracy)
print("KNN Accuracy Score:",knn_accuracy)

Random Forest Accuracy Score: 0.999834761466374
Logistic Regression Accuracy Score: 0.9861081604230106
Naive Bayes Accuracy Score: 0.6728513089252414
Decision Tree Accuracy Score: 0.9996459174279442
KNN Accuracy Score: 0.9749781649080566